.ourGeust {
  margin: 40px 0;
}

.reviews {
  display: flex;
  gap: 24px;
  margin: 40px 0;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.reviews::-webkit-scrollbar {
  display: none;
}

.review {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  max-width: 400px;
  flex-shrink: 0;
  height: auto;
  background: #0b0b0b;
  padding: 30px;
  border-radius: 8px;
}

.header {
  display: flex;
  align-items: center;
  gap: 14px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info h3 {
  color: #dedede;
  font-family: Manrope, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.54px;
  margin: 0;
}

.info span {
  color: #9c9995;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.48px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.rating {
  display: flex;
  gap: 5px;
}

.reviewText {
  color: #dedede;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
  letter-spacing: 0.48px;
}

.actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
  gap: 5px;
}

.box {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.button {
  width: 59px;
  height: 59px;
  flex-shrink: 0;
  border-radius: 59px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
}

.button:hover {
  background-color: rgba(188, 153, 93, 0.1);
}

@media (min-width: 768px) {
  .review {
    width: 48%;
  }
}

@media (min-width: 1024px) {
  .review {
    width: 31%;
  }
}
