.pageTitle {
  max-width: 900px;
  margin: 0 auto;
  color: #fff4e3;
  text-align: center;
  width: 100%;
}
.pageTitle span {
  color: #fbead2;
  /* font-family: Inter; */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 80%; /* 12.8px */
  letter-spacing: 1.76px;
  text-transform: uppercase;
}
.pageTitle h1 span {
  color: #fff4e3;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 90px;
  font-style: italic;
  font-weight: 700;
  line-height: 110%; /* 99px */
  letter-spacing: -1.8px;
  margin: 0;
}
.pageTitle h1 span:last-child {
  margin-left: 20px;
  color: #ccad64;
}
