.hero {
  /* background-image: url(); */
  background-color: aliceblue;
  height: calc(100vh - 63px);
  position: relative;
  overflow: hidden;
}
.hero video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1%;
  left: 0;
  object-fit: cover;
  z-index: 0;
}

.videoOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  color: white;
}

.heroTextSectionOverlay {
  width: 100%;
  height: calc(100vh - 163px);
  /* background-color: red; */
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroSection {
  display: flex;
  width: 923px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.hero h1 {
  color: #fff4e3;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 130px;
  font-style: italic;
  font-weight: 700;
  line-height: 110%; /* 143px */
  letter-spacing: -2.6px;
  margin: 0;
}
.viewMenu {
  display: inline-flex;
  padding: 24px 30px;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  border: 1px solid #ccad64;
  background: #ccad64;
  cursor: pointer;
}
