.hero {
  height: calc(100vh - 63px);
  position: relative;
  overflow: hidden;
}

.heroBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 0;
}

.hero video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 0;
}

.videoOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  color: white;
}

.heroTextSectionOverlay {
  width: 100%;
  height: calc(100% - 100px);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.heroSection {
  display: flex;
  width: 100%;
  max-width: 923px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.hero h1 {
  color: #fff4e3;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-style: italic;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -1.5px;
  margin: 0;
}

.viewMenu {
  display: inline-flex;
  padding: 24px 30px;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  border: 1px solid #ccad64;
  background: #ccad64;
  cursor: pointer;
}

@media (min-width: 768px) {
  .hero h1 {
    font-size: 90px;
  }
}

@media (min-width: 1024px) {
  .hero h1 {
    font-size: 130px;
    letter-spacing: -2.6px;
  }
}
