.TopNav {
  /* width: 1920px; */
  height: 62px;
  flex-shrink: 0;
  background: #050505;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}

.leftLinks,
.rightLinks {
  display: flex;
  gap: 30px;
}

.link {
  /* font-family: "Poppins", sans-serif; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.linkText {
  color: #ddd;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.48px;
  display: none;
}

@media screen and (min-width: 960px) {
  .linkText {
    display: block;
  }
}
a {
  text-decoration: none;
}
