.privateDining {
  margin: 70px 0;
  min-height: 600px;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  background-image: url("./private-dining.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  padding: 30px 20px;
  box-sizing: border-box;
}

.textBox {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 649px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  background: rgba(0, 0, 0, 0.6);
  padding: 24px;
  border-radius: 8px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header span {
  color: #fbead2;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 80%;
  letter-spacing: 1.76px;
  text-transform: uppercase;
}

.header h4 {
  color: #fff;
  font-size: 48px;
  font-style: italic;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -1.8px;
  margin: 0;
}

.body p {
  color: #fbead2;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.54px;
  margin: 0;
}

@media (min-width: 768px) {
  .privateDining {
    min-height: 700px;
    align-items: center;
    padding: 60px;
  }

  .textBox {
    position: absolute;
    bottom: 100px;
    left: 60px;
    padding: 30px;
    gap: 50px;
  }

  .header h4 {
    font-size: 90px;
  }

  .body p {
    font-size: 18px;
  }
}
