.ourOffer {
}
.offerItems {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;
}
.offerItem {
  flex-shrink: 0;
  position: relative;
}
.offerText {
  color: aliceblue;
  z-index: 5;
  position: absolute;
  bottom: 150px;
  left: 100px;
  width: 400px;
}
.offerTitle {
  color: #fff4e3;
  text-align: left;
  /* font-family: Montserrat; */
  font-size: 90px;
  font-style: italic;
  font-weight: 700;
  line-height: 110%; /* 99px */
  letter-spacing: -1.8px;
  margin: 0;
}
.offerDescription {
  color: #fbead2;
  /* font-family: Roboto; */
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  letter-spacing: 0.54px;
}
